<%- include("./partials/header") %>

<% if(error.length > 0){ %>
    <div class="absolute top-10 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
<% } %>

<% if(success.length > 0){ %>
    <div class="absolute top-10 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-green-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= success %>
        </span>
    </div>
<% } %>

<div class="w-full h-screen flex items-start px-10 py-20">
    <div class="w-1/4 h-screen">
        <div class="mt-10">
            <a class="block w-fit mb-2 text-xl" href="/profile">My Profile</a>
            <a class="block w-fit mb-2 text-xl" href="/address">My Address</a>            
            <a class="block w-fit mb-2 text-xl" href="/orders">My Orders</a>            
        </div>
    </div>
    <main class="w-3/4 h-screen">
        <h2 class="text-3xl mb-5">My Orders</h2>
        <% orders.reverse().forEach(order => { %>
            <div class="w-9/10 shadow-xl p-5 rounded-xl mb-5">
                <div class="flex justify-between items-center w-full mb-3">
                    <div>
                        <p><%= new Date(order.orderDate).toLocaleDateString("en-GB", { day: "numeric", month: "long", year: "numeric" }) %></p>
                    </div>
                    <div>
                        <p class="text-xl">Total: ₹<%= order.totalAmount  %></p> 
                    </div>
                </div>
                <ul class="flex gap-3 flex-wrap">
                    <% order.cartItems.forEach(item => { 
                        let discountedPrice = item.price - item.discount;
                    %>                            
                        <li class="w-60">
                            <div class="w-full h-52 flex items-center justify-center bg-[<%= item.bgcolor %>]">
                                <img 
                                    class="w-auto h-[75%] object-contain"
                                    src="data:image/jpeg;base64,<%= item.image.toString('base64') %>" alt="">
                            </div>
                            <div class="p-4 flex justify-between items-center bg-[<%= item.panelcolor %>] text-[<%= item.textcolor %>]">
                                <div>
                                    <h3 class="font-semibold"><%= item.name %></h3>
                                    <h4 class="font-normal">₹<%= discountedPrice %></h4>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                </ul>
                <div class="flex justify-end">
                    <a class="w-7 h-7 flex justify-center items-center rounded-full bg-white" href="/deletefromorder/<%= order._id %>">
                        <i class="ri-delete-bin-line text-black text-xl"></i>
                    </a>
                </div>
            </div>
        <% }) %>
    </main>
</div>

<%- include("./partials/footer") %>